services:
  - type: web
    name: bookmybloodtest-server
    env: node
    rootDir: server
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: PGSSLMODE
        value: require
      - key: NODE_ENV
        value: production
